@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --thistle: #cdb4dbff;
  --fairy-tale: #ffc8ddff;
  --carnation-pink: #ffafccff;
  --blue-green: rgb(108, 33, 188);
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --ut-orange: #fb8500ff;
  --hc1: #2Dfff5;
  --hc2: #FFF9D2;
  --bg-1: #efc3e6;
  --bg-2: #e9f5db;
}

.Toastify__toast-body {
  font-size: 1.7rem !important;
}

html {
  scroll-behavior: smooth;
}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--main-text-color);
  background-image: url(./../assets/images/bg.jpg);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: repeat;
}

body {
  padding-left: 30rem;
}

section {
  padding: 1rem 5%;
  min-height: 100vh;
  /* background-image: linear-gradient(45deg, var(--fairy-tale), var(--sky-blue)); */
}

h1{
  font-size: 2.7rem;
}
.postStart{
  margin-top: 25px;
}
.postBox .container{
  max-width: 100% !important;
  margin-top: 10px !important;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5) !important;
}
.postBox .container:hover, .container:focus-within{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important;
}
.postBox textarea{
  max-width: 100%;
  min-width: 100%;
}
.postBox input{
  margin-bottom: 10px !important;
}
.profilepic{
  margin-top: 20px;
  width: 200px;
  border-radius: 50%;
}
.fileInputDiv{
  height: 35px;
  width: 50%;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  border: 2px solid var(--blue-green);
  margin-top: 10px;
  border-radius: 6px;
  background: #eef4f5;
}
.fileInputDiv label{
  margin-left: 15px;
}
.imageFile{
  display: none;
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
