.active{
  border: 2px solid var(--bg-2) !important;
  background-color: var(--blue-green);
  color: var(--bg-2) !important;
  letter-spacing: 2px !important;
  font-weight: 600;
}
.profile a{
  letter-spacing: normal !important;
}
.profile .active{
  letter-spacing: normal !important;
  border: 2px solid var(--bg-1) !important;
  color: white !important;
}
header::-webkit-scrollbar {
  width: 0.5em;
}

header {
  position: fixed;
  top: 0;
  font-weight: 500;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  flex-flow: column;
  padding: 5rem 0rem 0rem 0rem;
  width: 30rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.759) 0px 22px 70px 4px;
  overflow-y: scroll;
  background-image: url(./../assets/images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header .logo {
  align-items: center;
  text-transform: uppercase;
}
header .quote{
  color: aliceblue;
  font-size: 1.8rem;
}
header .logo img {
  width: 100px;
  border-radius: 50%;
  border: 4px solid var(--bg-2);
  padding: 4px;
  filter: saturate(1.1);
}
header .logo img:hover {
  padding: 0;
  filter: brightness(1.1);
}

.navbar{
  width: 100%;
  text-align: left;
  text-shadow: 0 0 2px black;
  z-index: 999;
}

header .navbar a {
  text-transform: uppercase;
  transition: all 0.2s linear;
  display: block;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  width: 100%;
  padding: 6px 0;
  border-radius: 12px;
  color: aliceblue;
  margin: 8px 0px;
  border: 2px solid transparent;
}
header .navbar span{
  margin: 0 30px;
}
header .navbar i{
  margin: 0 15px;
  color: rgb(231, 201, 162);
  text-shadow: 0 0 4px rgb(27, 46, 0), 0 0 5px rgb(143, 106, 12), 0 0 15px rgb(237, 183, 46), 0 0 30px rgb(221, 196, 134);
  transform: scale(1.25);
}

header .navbar a:hover {
  transition: all 0.2s linear;
  background-color: var(--blue-green);
  color: var(--bg-2);
}

header .profile a{
  margin: 0;
}

.user-profile-link {
  text-decoration: none;
  color: #333; /* Set your desired text color */
}

.user-profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 50px; /* Set your desired image width */
  height: 50px; /* Set your desired image height */
  border-radius: 50%; /* Make the image circular if needed */
  margin-right: 10px; /* Adjust as needed for spacing between image and text */
}


#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 4rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  #menu-bars {
    display: initial;
  }

  header {
    left: -120%;
  }

  header.smallact {
    left: 0%;
  }
  .conversation-list {
    font-size: 1.1rem !important;
  }
  .ChatApp li img{
    width: 33px !important;
  }
  .message {
    margin: 8px 35px !important;
  }

}

@media (max-width: 450px) {
  header {
    width: 100%;
  }
  .cross{
    color: white;
  }
}

/* Chats section */
.ChatRoutes {
  display: flex;
  font-size: 1.4rem;
}

.ChatApp {
  position: absolute;
  top: 0;
  font-weight: 500;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  padding: 1rem 5%;
  width: 100%;
  text-align: center;
  overflow-y: scroll;
}

.ChatApp h2 {
  align-items: center;
  text-transform: uppercase;
}

.ChatApp ul {
  width: 100%;
  text-align: left;
}

.ChatApp li {
  text-transform: uppercase;
  transition: all 0.2s linear;
  display: block;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  width: 100%;
  border-radius: 50px;
  color: black;
  background-color: lavender;
  position: relative;
  margin: 8px 0px;
  border: 2px solid transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgb(47, 0, 16);
  overflow: hidden;
}

.ChatApp li:hover {
  transition: all 0.2s linear;
  background-color: rgb(171, 171, 245);
}
.ChatApp li img{
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 9px black;
}
.chatUserInfo{
  display: flex;
  align-items: center;
  gap: 20px;
}
.chatUserInfo span{
  color: rgb(92, 28, 157);
}
.userInfo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.new-message-section {
  flex: 1;
  padding: 10px;
}

/* PersonalMessages.css */
.messages{
  scroll-behavior: auto;
}
.personal-messages-container {
  font-size: 1.5rem;
  max-width: 900px;
  margin: auto;
}

.messages-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.message {
  margin: 8px;
  padding: 12px;
  border-radius: 8px;
  max-width: 70%;
  position: relative;
}

.avatar-container {
  display: flex;
}

.avatar {
  margin: 8px;
  position: absolute;
  top: 0;
}

.messages-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.messageDate{
  background-color: var(--prussian-blue);
  color: white;
  padding: 0 20px;
  text-align: center;
  border-radius: 50px;
  width: 30%;
  margin: auto;
}
.sent {
  align-self: flex-end;
  background-color: #4caf50;
  color: #fff;
}
.sent .avatar {
  right: -50px;
}
.received {
  align-self: flex-start;
  background-color: #e0e0e0;
}
.received .avatar {
  left: -50px;
}
.messages{
  margin-bottom: 70px;
}
.personal-messages-input{
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
}
.personal-messages-input .user-comment-box{
  margin: 0 !important;
  border-radius: 0;
}



