.active{
  border: 2px solid var(--bg-2);
  background-color: var(--blue-green);
  color: var(--bg-2) !important;
}

header::-webkit-scrollbar {
  width: 0.5em;
}

header {
  position: fixed;
  top: 0;
  font-weight: 700;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  flex-flow: column;
  padding: 5rem 0rem;
  width: 30rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.759) 0px 22px 70px 4px;
  overflow-y: scroll;
  background: var(--prussian-blue);
}

header .logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

header .logo img {
  width: 100px;
  border-radius: 50%;
  filter: saturate(2.5);
  border: 4px solid var(--bg-2);
  padding: 4px;
}
header .logo img:hover {
  padding: 0;
  filter: brightness(1.2) saturate(1.5);
}

.navbar{
  width: 100%;
}

header .navbar a {
  text-transform: uppercase;
  transition: all 0.2s linear;
  display: block;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  width: 100%;
  padding: 6px 0;
  border-radius: 12px;
  color: aliceblue;
  margin: 8px 0;
}

header .navbar a:hover {
  transition: all 0.2s linear;
  background-color: var(--blue-green);
  color: var(--bg-2);
}

header .follow a {
  font-size: 2.5rem;
  margin: 0 0.7rem;
  color: white;
}

header .follow a:hover {
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
  color: rgb(211, 235, 255);
}

#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 4rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  #menu-bars {
    display: initial;
  }

  header {
    left: -120%;
  }

  header.smallact {
    left: 0%;
  }
}

@media (max-width: 450px) {
  header {
    width: 100%;
  }
}
