.reply-input-grp {
  display: flex;
  align-items: center;
}

.replyinput {
  min-height: 50px;
  width: 100%;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.reply-button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.reply-button--submit:hover {
  background-color: #5e5dcd;
}

.replyinput:focus, .replyinput:focus-visible {
  border-color: #3898EC;
  outline: none;
}
