.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  z-index: 2;
  border-radius: 50%;
  left: 25px;
  background-color: var(--prussian-blue);
}

.formInputBox .container {
  position: relative;
  margin: auto;
  max-width: 60%;
  background: #f8f9fd;
  background: linear-gradient(
    -45deg,
    rgb(249, 255, 244) 0%,
    rgb(243, 248, 255) 100%
  );
  border-radius: 40px;
  margin-top: 7rem;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: var(--thistle) 0px 30px 30px -20px;
}

.formInputBox .heading {
  text-align: center;
  font-weight: 900;
  font-size: 1.7rem;
  color: var(--prussian-blue);
}

.formInputBox .form {
  margin-top: 20px;
}

.formInputBox .form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.formInputBox .form .input::placeholder {
  color: rgb(170, 170, 170);
}

.formInputBox .form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.formInputBox .form .forgot-password a {
  font-size: 1.8rem;
  color: var(--prussian-blue);
  text-decoration: none;
}

.form .formInputBox-button {
  font-size: 2rem;
  cursor: pointer;
  display: block;
  width: 90%;
  font-weight: bold;
  background: linear-gradient(
    -45deg,
    var(--prussian-blue) 30%,
    var(--blue-green) 100%
  );
  color: white;
  padding-block: 10px;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: var(--thistle) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .formInputBox-button:hover {
  transform: scale(1.03);
  box-shadow: var(--thistle) 0px 23px 10px -20px;
}

.form .formInputBox-button:active {
  transform: scale(0.95);
  box-shadow: var(--thistle) 0px 15px 10px -10px;
}

.formInputBox .agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.formInputBox .agreement a {
  text-decoration: none;
  color: var(--prussian-blue);
  font-size: 2rem;
}

.register .container {
  max-width: 100%;
  width: 100%;
  margin-top: 2.9rem;
}

.formInputBox .container .form {
  margin-top: 15px;
}
input{
  text-transform: none !important;
}
.formInputBox .form .input-box {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  text-transform: none !important;
  border-radius: 20px;
  margin-top: 3rem;
  box-shadow: var(--thistle) 0px 10px 10px -5px;
  border-inline: 6px solid transparent;
}

.formInputBox .form .input-box:focus-within{
  outline: none;
  border-inline: 6px solid var(--prussian-blue);
}

.formInputBox .input-box label {
  color: #000;
  font-size: 1.9rem;
}

.formInputBox .form :where(.input-box input, textarea, .select-box) {
  position: relative;
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 1.8rem;
  color: #373737;
  margin-top: 5px;
  border: 2px solid var(--blue-green);
  border-radius: 6px;
  padding: 0px 18px;
  background: #eef4f5;
}

.formInputBox .input-box input:focus, textarea:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.formInputBox .form .column {
  display: flex;
  column-gap: 15px;
}

.formInputBox .address :where(input, textarea, .select-box) {
  margin-top: 10px;
}

.formInputBox .select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #808080;
  font-size: 1.9rem;
  background: #eef4f5;
}



@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

input:focus-within{
  border: 2px solid var(--ut-orange) !important;
}
textarea:focus-within{
  border: 2px solid var(--ut-orange) !important;
}
/* media queries */
@media (max-width: 991px) {
  .formInputBox .container {
    max-width: 98%;
    padding: 18px 2px;
  }
  .formInputBox .form :where(.input-box input, .select-box) {
    font-size: 1.4rem;
  }
  .formInputBox .form .column {
    flex-direction: column;
  }
}
